html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.header {
  padding: 20px 10px;
  font-size: 18px;
}

#highScores div div:nth-child(odd) {
  background-color: #efe6f9;
}
#highScores {
  justify-content: auto;
  margin: 20px;
  padding: 20px;
}
/* Section Specific Styles */
#positionWrapper {
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 110px);
}

#time {
  float: right;
}

section {
  max-width: 50%;
  margin: 0 auto;
}
#controls {
  background-color: #41275e;
}
#info {
  max-width: 980px;
  margin: 0 auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 30px;
}
#scores {
  /* position:absolute; */
  /* top:16px; */
  left: 40px;
  background-color: #834bc2;
  color: white;
}

#intro {
  text-align: center;
}
button {
  background-color: #41275e;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#intro button:hover {
  background-color: #613a8d;
}
